* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  max-height: 80px;
  outline: 1px solid #d8e3fe;
}

.header_wrp {
  display: flex;
  padding: 19px 0;
  max-width: 1206px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header_logo_link {
  width: 26px;
  height: 26px;
  margin-right: 73px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.header_logo_link:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.header_logo_link:active img {
  transform: rotate(-185px);
}

.nav_menu {
  margin-right: 361px;
  max-width: 427px;
  width: 100%;
  height: 28px;
}

.nav_menu_list {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.nav_menu_link {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #697ca6;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.nav_menu_link:hover {
  opacity: 0.7;
}

.nav_menu_link:active {
  color: #5e81fe;
}

.nav_menu_item:first-child > .nav_menu_link:active {
  color: #697ca6;
}

.nav_menu_item:first-child > .nav_menu_link {
  color: #5e81fe;
  font-weight: 700;
}

.nav_icon_menu {
  margin-right: 44px;
  max-width: 162px;
  width: 100%;
  height: 28px;
}

.nav_icon_menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}

.nav_icon_menu_link svg {
  fill: #b6bac7;
}

.nav_icon_menu_item:last-child > .nav_icon_menu_link svg {
  fill: #757e9a;
}

.nav_icon_menu_link:hover svg {
  fill-opacity: 0.7;
}

.nav_icon_menu_link:active svg {
  fill: #3a79ff;
}

.nav_icon_menu_item:last-child > .nav_icon_menu_link:active > svg {
  fill: #3a79ff;
}

.header_btn {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
  background: #d2e1ff;
  border-radius: 2px;
  border: none;
  max-width: 113px;
  width: 100%;
  height: 43px;
}

.header_btn:hover {
  opacity: 0.7;
}

.header_btn:active {
  color: #d2e1ff;
  background: #3a79ff;
}

/* Header end */
/* Plan start */
.plan {
  width: 100%;
  height: 570px;
  background: url(/img/chart.svg), url(/img/clouds.svg),
    linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, center;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 581px;
  margin-top: 91px;
}

.plan_subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 16px;
}

.plan_title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #3d4f9f;
  margin: 0 0 28px 0;
}

.plan_title b {
  font-weight: 500;
}

.plan_txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8d96bd;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.plan_btn {
  display: flex;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  margin-bottom: 18px;
}

.plan_btn svg {
  margin: auto;
  fill: #5e81ff;
}

.plan_btn:hover {
  border: 1px solid #5e81ff;
}

.plan_btn:hover svg {
  fill-opacity: 0.8;
}

.plan_btn:active {
  border: none;
  background: #5e81fe;
}

.plan_btn:active svg {
  fill: #ffffff;
}

.plan_img_stats {
  object-fit: cover;
  margin-left: -408px;
}

.carousel-indicators {
  margin-bottom: -2rem;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  background-color: #d1d6e3;
  border-radius: 50%;
  margin-left: 6px;
  margin-right: 6px;
}

.carousel-indicators .active {
  background-color: #5e81fe;
}

/* Plan end */
/* Custumers start */

.custumers {
  display: flex;
  justify-content: center;
  outline: 1px solid #d8e3fe;
}

.custumers_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 76.5px;
  margin: 58px auto;
}

.custumers_link svg {
  fill: #d6dae5;
  transform: scale(1);
  transition: transform 1s ease;
}

.custumers_link:hover svg {
  fill: #5e81fe;
  transform: scale(1.5);
  transition: transform 1s ease;
}

.custumers_link:active svg {
  fill-opacity: 0.7;
}

/* Custumers End */
/* PlanAndManage start */
.planAndManage {
  background: #f5f8ff;
  padding-top: 130px;
}

.planAndManage_wrp {
  display: flex;
  margin: 0 calc(50% - 610px);
}

.planAndManage_content {
  display: flex;
  flex-direction: column;
  max-width: 413px;
  width: 100%;
  margin-top: 70px;
}

.planAndManage_content_subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
}

.planAndManage_content_title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

.planAndManage_content_title b {
  font-weight: 500;
}

.planAndManage_content_txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.planAndManage_content_btn_wrp {
  display: flex;
}

.planAndManage_content_btn_video {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  background: #4c85ff;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  width: 130px;
  height: 43px;
  border-radius: 2px 0 0 2px;
  border: none;
  position: relative;
}

.planAndManage_content_btn_video::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 7.2px solid #ffffff;
  border-top: 3.1px solid transparent;
  border-bottom: 3.1px solid transparent;
  position: absolute;
  bottom: 19px;
  right: 20px;
}

.planAndManage_content_btn_features {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #adb4d2;
  width: 130px;
  height: 43px;
  border-radius: 0 2px 2px 0;
  border: 1px solid #adb4d2;
  background: transparent;
}

.planAndManage_content_btn_video:hover {
  opacity: 0.7;
}

.planAndManage_content_btn_video:active {
  background: #ffffff;
  color: #4c85ff;
  border: 1px solid #4c85ff;
}

.planAndManage_content_btn_video:active::after {
  border-left: 7.2px solid #4c85ff;
}

.planAndManage_content_btn_features:hover {
  color: #4c85ff;
  border: 1px solid #4c85ff;
}

.planAndManage_content_btn_features:active {
  background: #4c85ff;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.planAndManage_img {
  max-width: 854px;
  width: 100%;
  height: 620px;
  background-image: url(/img/illustration.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* PlanAndManage End */
/* About Us Start */

.about_us {
  border: 1px solid #d8e3fe;
}

.about_us_img {
  max-width: 1275px;
  width: 100%;
  min-height: 573px;
  background-image: url(/img/clouds_about_us.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 103px auto 171px auto;
}

.about_us_wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 69px;
}

.about_us_subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 20px;
}

.about_us_title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
  margin-bottom: 92px;
}

.about_us_list {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 67px;
  margin-bottom: 91px;
}

.about_us_item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 140px;
  min-height: 254px;
  width: 100%;
  position: relative;
}

.about_us_item:not(:last-child)::after {
  content: "";
  display: block;
  width: 28px;
  border: 1px solid #dae4fe;
  position: absolute;
  right: -50px;
  top: 125px;
}

.about_us_list_icon {
  max-width: 69px;
  width: 100%;
  height: 69px;
  background: #f1f5ff;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.about_us_item:nth-child(1) div {
  background-image: url(/img/overview_icon.png);
}

.about_us_item:nth-child(2) div {
  background-image: url(/img/Files_icon.png);
}

.about_us_item:nth-child(3) div {
  background-image: url(/img/chats_icon.png);
}

.about_us_item:nth-child(4) div {
  background-image: url(/img/events_icon.png);
}

.about_us_list_title {
  height: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074f8;
  margin-bottom: 26px;
}

.about_us_list_txt {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
  margin-bottom: 0;
}

.about_us_btn_wrp {
  display: flex;
  align-items: center;
  gap: 48px;
  margin: 0 auto;
  max-width: 337px;
  width: 100%;
}

.about_us_btn_ReadMore {
  width: 113px;
  height: 43px;
  background: #ffd7d7;
  border-radius: 2px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  padding: auto;
  text-align: center;
  color: #d43f3f;
  border: none;
}

.about_us_btn_ReadMore:hover {
  opacity: 0.7;
}

.about_us_btn_ReadMore:active {
  background: #d43f3f;
  color: #ffd7d7;
}

.about_us_span_Or {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #adb3cb;
  position: relative;
}

.about_us_span_Or::before {
  content: "";
  display: block;
  width: 15px;
  border: 1px solid #dae4fe;
  position: absolute;
  left: -30px;
  top: 8px;
}

.about_us_span_Or::after {
  content: "";
  display: block;
  width: 15px;
  border: 1px solid #dae4fe;
  position: absolute;
  right: -30px;
  top: 8px;
}

.about_us_btn_GetStarted {
  width: 113px;
  height: 43px;
  background: #d2e1ff;
  border-radius: 2px;
  padding: auto;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
  border: none;
}

.about_us_btn_GetStarted:hover {
  opacity: 0.7;
}

.about_us_btn_GetStarted:active {
  background: #3a79ff;
  color: #d2e1ff;
}
