* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  max-height: 80px;
  outline: 1px solid #d8e3fe;
}

.header_wrp {
  display: flex;
  padding: 19px 0;
  max-width: 1206px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header_logo_link {
  width: 26px;
  height: 26px;
  margin-right: 73px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.header_logo_link:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease;
}

.header_logo_link:active img {
  transform: rotate(-185px);
}

.nav_menu {
  margin-right: 361px;
  max-width: 427px;
  width: 100%;
  height: 28px;
}

.nav_menu_list {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.nav_menu_link {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #697ca6;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.nav_menu_link:hover {
  opacity: 0.7;
}

.nav_menu_link:active {
  color: #5e81fe;
}

.nav_menu_item:first-child > .nav_menu_link:active {
  color: #697ca6;
}

.nav_menu_item:first-child > .nav_menu_link {
  color: #5e81fe;
  font-weight: 700;
}

.nav_icon_menu {
  margin-right: 44px;
  max-width: 162px;
  width: 100%;
  height: 28px;
}

.nav_icon_menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}

.nav_icon_menu_link svg {
  fill: #b6bac7;
}

.nav_icon_menu_item:last-child > .nav_icon_menu_link svg {
  fill: #757e9a;
}

.nav_icon_menu_link:hover svg {
  fill-opacity: 0.7;
}

.nav_icon_menu_link:active svg {
  fill: #3a79ff;
}

.nav_icon_menu_item:last-child > .nav_icon_menu_link:active > svg {
  fill: #3a79ff;
}

.header_btn {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
  background: #d2e1ff;
  border-radius: 2px;
  border: none;
  max-width: 113px;
  width: 100%;
  height: 43px;
}

.header_btn:hover {
  opacity: 0.7;
}

.header_btn:active {
  color: #d2e1ff;
  background: #3a79ff;
}

/* Header end */
/* Plan start */
.plan {
  width: 100%;
  height: 570px;
  background: url(/img/chart.svg), url(/img/clouds.svg),
    linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom, center;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 581px;
  margin-top: 91px;
}

.plan_subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d4f9f;
  margin-bottom: 16px;
}

.plan_title {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #3d4f9f;
  margin: 0 0 28px 0;
}

.plan_title b {
  font-weight: 500;
}

.plan_txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8d96bd;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.plan_btn {
  display: flex;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background: #ffffff;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
  margin-bottom: 18px;
}

.plan_btn svg {
  margin: auto;
  fill: #5e81ff;
}

.plan_btn:hover {
  border: 1px solid #5e81ff;
}

.plan_btn:hover svg {
  fill-opacity: 0.8;
}

.plan_btn:active {
  border: none;
  background: #5e81fe;
}

.plan_btn:active svg {
  fill: #ffffff;
}

.plan_img_stats {
  object-fit: cover;
  margin-left: -408px;
}

.carousel-indicators {
  margin-bottom: -2rem !important;
}

.carousel-indicators [data-bs-target] {
  width: 8px !important;
  height: 8px !important;
  background-color: #d1d6e3 !important;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 50% !important;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  margin-left: 6px !important;
  margin-right: 6px !important;
}

.carousel-indicators .active {
  background-color: #5e81fe !important;
}
